@model List<string>
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContextAccessor httpContextAccessor = new HttpContextAccessor();
}



<style>
    body {
        font-family: Arial;
    }

    .huser-20 {
        height: 20px;
    }

    #global {
        height: 500px;
        border: 1px solid #ddd;
        background: #f1f1f1;
        overflow-y: scroll;
        margin-left: 25px;
    }

    #mensajes {
        height: auto;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #bcecf1;
        background-color: #effafc;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 8px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #baecf5;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #baecf5;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="container-fluid" style="height:93%;">
    <input style="display:none" id="IdPerfilSesion" type="text" value="@httpContextAccessor.HttpContext.Session.GetInt32("IdPerfil")" disabled></input>
    <input style="display:none" id="IdUsuarioSesion" type="text" value="@httpContextAccessor.HttpContext.Session.GetInt32("IdUsuario")"/>
    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>FACTURA PROVEEDOR</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="topbar-left col-xs-6">
                    <h4 style="font-size:1.2em;">Total de Registros: <span id="spnTotalRegistros"></span></h4>
                </div>
            </div>
            <div class="col-xs-6 right">
                <button class="btn btn-sm  btn-primary pull-right plu" data-target="modal1" onclick="ModalNuevo()" style="margin-left:10px;">Nuevo</button>              
                @*<button class="btn btn-sm  btn-success pull-right plu" id="btnPdf" style="margin-left:10px;">Descargar PDF</button>
                <button class="btn btn-sm btn-info pull-right plu" id="btnExcel" style="margin-left:10px;">Descargar Excel</button>*@
            </div>
           <div class="col-xs-12 right">
                <label class="col-sm-2" for="cboObraFiltro">Obra</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboObraFiltro" onchange="changeTipoRegistroFiltro();esRendicionFiltro()"></select>
                </div>
            </div>
           @* <div class="col-xs-12 right">
                <label class="col-sm-2" for="txtFechaInicio">Fecha Inicio</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control col-sm-3" id="txtFechaInicio" />
                </div>

            </div>
            <div class="col-xs-12 right">             
                <label class="col-sm-2" for="txtFechaFin">Fecha Fin</label>
                <div class="col-sm-3">
                  <input type="date" class="form-control col-sm-3"  id="txtFechaFin" />    
                </div>
                <button class="btn btn-primary" style="margin-top:3px" onclick="listarOpch()">Buscar</button>
            </div>*@
            <div class="col-xs-12 right">
                <label class="col-sm-2" for="cboTipoRegistro">Tipo de Registro</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboTipoRegistroFiltro" onchange="changeTipoRegistroFiltro();esRendicionFiltro()"></select>
                </div>
            </div>

             <div class="col-xs-12 right" id="DivSemana" style="display:none">
                <label class="col-sm-2" for="cboSemana">Semana</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboSemanaFiltro"></select>
                </div>
            </div>

            <div class="col-xs-12 right" id="DivGiro" style="display:none">
                <label class="col-sm-2" for="cboGiro">Giro</label>
                <div class="col-sm-3">
                    <select class="form-control" id="cboGiroFiltro"></select>
                </div>
            </div>
             <div class="col-xs-12" style="display:flex;justify-content:space-between">
               
                <button class="btn btn-primary" onclick="listarOpch()"> buscar</button>
                @*<button class="btn btn-primary" onclick="ValidacionSUNATMasivo()"> Validacion SUNAT Masivo</button>*@
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">

            <table id="table_id" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha Documento</th>
                        <th>Usuario</th>
                        <th>Tipo Movimiento</th>
                        <th>Nro Operacion</th>
                        <th>Tipo Documento</th>
                        <th>Serie y Numero</th>
                        <th>Proveedor</th>
                        <th>Total</th>
                        <th>Obra</th>
                        <th>Almacen</th>
                        <th>Moneda</th>
                        <th>Validado SUNAT</th>
                        <th>Contabilizado</th>
                        <th>Mas</th>
                    </tr>
                </thead>
                <tbody id="tbody_Solicitudes"></tbody>
            </table>

        </div>
    </div>


    <!-- Modal -->
    <div id="modal-form" class="popup-xl allcp-form mfp-with-anim mfp-hide">
        <div class="panel">
            <div class="panel-heading">
                <h5 id='lblTituloModal'></h5>
            </div>
            <div class="panel-body ">
                <div class='col s12 m12 '>
                    <div class='container-fluid row'>

                        <div class='form-horizontal col-9 col-sm-9'>
                            <div class="form-group-sm" style="display:none;">
                                <input placeholder='' id='txtId' type='text' style="display:none;">
                                <input id='IdPedido' type='text' style="display:none;">
                                <input id='IdOPDN' type='text' style="display:none;">

                                @*<input placeholder='' id='txtEstado' type='text' style="display:none;">*@
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="IdBase" class="control-label col-sm-2 left-align">Base</label>
                                    <div class="col-sm-4">
                                        <select id="IdBase" class="form-control input-sm" tabindex="0" onchange="ObtenerObraxIdBase();LimpiarAlmacen()"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="IdObra" class="control-label col-sm-2 left-align">Obra</label>
                                    <div class="col-sm-4">
                                        <select id="IdObra" class="form-control input-sm" tabindex="0" onchange="ObtenerAlmacenxIdObra();ObtenerCuadrillasxIdObra();ResetRegistroSemana()"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="cboAlmacen" class="control-label col-sm-2 left-align">Almacen</label>
                                    <div class="col-sm-4">
                                        <select id="cboAlmacen" class="form-control input-sm" tabindex="0"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="txtFechaDocumento" class="control-label col-sm-2 left-align">Fecha Documento</label>
                                    <div class="col-sm-4">
                                        <input id="txtFechaDocumento" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="10">
                                    </div>
                                </div>

                                @* <div class='form-group-sm'>
                                <label for="cboTipoDocumentoOperacion" class="control-label col-sm-2 left-align">Tipo Documento</label>
                                <div class="col-sm-4">
                                <select id="cboTipoDocumentoOperacion" class="form-control input-sm" tabindex="0"></select>
                                </div>
                                </div>*@
                            </div>




                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="cboSerie" class="control-label col-sm-2 left-align">Serie</label>
                                    <div class="col-sm-4">
                                        <select id="cboSerie" class="form-control input-sm" tabindex="0" onchange="validarseriescontable()"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="txtFechaContabilizacion" class="control-label col-sm-2 left-align">Fecha Contabilizacion</label>
                                    <div class="col-sm-4">
                                        <input id="txtFechaContabilizacion" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" disabled class="form-control input-sm" tabindex="6" onchange="validarseriescontable()">
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtNumeracion" class="control-label col-sm-2 left-align">Numeracion</label>
                                    <div class="col-sm-4">
                                        <input id="txtNumeracion" type="text" class="form-control input-sm" tabindex="2" disabled>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    @*<label for="cboMoneda" class="control-label col-sm-2 left-align">Tipo de Cambio</label>*@
                                    <label for="cboMoneda" class="control-label col-sm-2 left-align">Moneda</label>
                                    <div class="col-sm-4">
                                        <select id="cboMoneda" type="text" class="form-control input-sm" tabindex="3" onchange="ValidarMonedaBase()" disabled></select>
                                    </div>
                                </div>
                                <div id="Origenes" style="display:none">
                                    <div class='form-group-sm'>
                                        @*<label for="cboMoneda" class="control-label col-sm-2 left-align">Tipo de Cambio</label>*@

                                        <div class="col-sm-4">
                                            <input id="txtOrigen" type="text" class="form-control input-sm" disabled></input>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        @*<label for="cboMoneda" class="control-label col-sm-2 left-align">Tipo de Cambio</label>*@

                                        <div class="col-sm-4">
                                            <input id="txtOrigenId" type="text" class="form-control input-sm" disabled></input>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                @*     <div class='form-group-sm'>
                                <label for="txtFechaContabilizacion" class="control-label col-sm-2 left-align">Fecha Contabilizacion</label>
                                <div class="col-sm-4">
                                <input id="txtFechaContabilizacion" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="6">
                                </div>
                                </div>*@
                                <div class='form-group-sm'>
                                    <label for="txtNumeracion" class="control-label col-sm-2 left-align">Tipo Cambio</label>
                                    <div class="col-sm-4">
                                        <input id="txtTipoCambio" type="text" class="form-control input-sm" onkeyup="EnviarTipoCambioDetalle()" tabindex="4" disabled>
                                    </div>
                                </div>
                                <div class='form-group-sm' style="display:none">
                                    <label for="txtSerieSAP" class="control-label col-sm-2 left-align">Serie SAP</label>
                                    <div class="col-sm-4">
                                        <input id="txtSerieSAP" type="number" class="form-control input-sm" value="0" tabindex="4">
                                    </div>
                                </div>



                                @*<div class='form-group-sm'>
                                <label for="IdCuadrilla" class="control-label col-sm-2 left-align">Cuadrilla</label>
                                <div class="col-sm-4">
                                <select id="IdCuadrilla" type="text" class="form-control input-sm" tabindex="3" >
                                <option value="0">SELECCIONE CUADRILLAS </option>
                                </select>
                                </div>
                                </div>*@

                                @* <div class='form-group-sm'>
                                <label for="txtFechaDocumento" class="control-label col-sm-2 left-align">Fecha Documento</label>
                                <div class="col-sm-4">
                                <input id="txtFechaDocumento" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="10" >
                                </div>
                                </div>*@


                            </div>

                            <div class="row">
                                @*<div class='form-group-sm'>
                                <label for="IdCuadrilla" class="control-label col-sm-1 left-align">Cuadrilla</label>
                                <div class="col-sm-4">
                                <select id="IdCuadrilla" type="text" class="form-control input-sm" tabindex="3">
                                <option value="0">SELECCIONE CUADRILLAS </option>
                                </select>
                                </div>
                                </div>*@
                                @* <div class='form-group-sm'>
                                <label for="IdResponsable" style="text-align: right;" class="control-label col-sm-1 right-align">Responsable</label>
                                <div class="col-sm-2">
                                <select id="IdResponsable" type="text" class="form-control input-sm" tabindex="3">
                                <option value="0">SELECCIONE Responsable </option>
                                </select>
                                </div>
                                </div>*@
                                <div class='form-group-sm' style="display:none">
                                    <label for="cboCentroCosto" class="control-label col-sm-2 left-align">Centro de Costo</label>
                                    <div class="col-sm-4">
                                        <select id="cboCentroCosto" class="form-control input-sm" tabindex="0"></select>
                                    </div>
                                </div>
                                <div class="form-group-sm" id="divGlosasss" style="display:none">
                                    <label for="cboGlosaContable" class="control-label col-sm-2 left-align">Glosa Contable</label>
                                    <div class="col-sm-4">
                                        <select id="cboGlosaContable" type="text" class="form-control input-sm" tabindex="3"></select>
                                    </div>
                                </div>

                            </div>

                            <hr style="margin:6px" />

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtNumeracion" class="control-label col-sm-2 left-align">Proveedor</label>
                                    <div class="col-sm-10">
                                        <select id="IdProveedor" type="text" class="form-control input-sm" tabindex="3" onchange="ObtenerProveedorxId()"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="Direccion" class="control-label col-sm-2 left-align">Direccion</label>
                                    <div class="col-sm-10">
                                        <textarea class="" id="Direccion" style="width:100%"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="Telefono" class="control-label col-sm-2 left-align">Telefono</label>
                                    <div class="col-sm-4">
                                        <input id="Telefono" type="text" class="form-control input-sm" tabindex="2">
                                    </div>
                                </div>
                                <div class='form-group-sm'>

                                    <div class="col-sm-4">
                                        <button id="btn_nuevo_proveedor" onclick="modalProveedor()" class="btn btn-primary" style="margin-top:0px">Agregar Proveedor</button>
                                    </div>
                                </div>

                            </div>
                            <br />

                            <div class="row">
                                @*<div class='form-group-sm'>
                                <label for="cboTipoAlmacen" class="control-label col-sm-2 left-align">Tipo Almacen</label>
                                <div class="col-sm-4">
                                <select id="cboTipoAlmacen" class="form-control input-sm" tabindex="9">
                                </select>
                                </div>
                                </div>*@

                            </div>



                            <br />

                            <div class="tab">
                                <button class="tablinks active" onclick="openContenido(event, 'Contenido')">Contenido</button>
                                <button class="tablinks" onclick="openContenido(event, 'Anexos')">Anexos</button>

                            </div>

                            <div id="Contenido" class="tabcontent" style="display: block;">
                                <div class='form-group-sm'>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="cboClaseArticulo" style="margin-bottom:10px;margin-top:5px" onchange="CambiarClaseArticulo();changeTipoDocumento()">
                                            <option value="0">Seleccione</option>
                                            <option value="1">Producto</option>
                                            <option value="2">Servicio</option>
                                            <option value="3">Activo</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="IdTipoProducto" style="margin-bottom:10px;margin-top:5px">
                                            <option value="0">Seleccione</option>
                                            <option value="1">MATERIALES</option>
                                            <option value="2">AUXILIARES</option>
                                        </select>
                                    </div>
                                </div>


                                <div class='form-group-sm'>
                                    <div class="col-sm-4">
                                        <button style="margin-bottom:10px;margin-top:5px" id="btn_agregar_item" class="btn btn-xs btn-info" onclick="OpenModalItem()" type="button">Agregar Item</button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="tabla" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="width:5px;display:none"><button style="display:none" class="btn btn-xs btn-info" onclick="AgregarLinea()" type="button">+</button></th>
                                                @*<th style="display:none">Numero de Articulo</th>*@
                                                <th>#</th>
                                                <th>Codigo</th>
                                                <th style="min-width:300px">Descripcion de Articulo</th>
                                                <th>Unid. Medida</th>
                                                @*<th>Prioridad de Item</th>*@
                                                @*<th style="display:none">Fecha Necesaria</th>
                                                <th style="display:none">Moneda</th>
                                                <th style="display:none">Tipo Cambio</th>*@
                                                <th>Cantidad</th>

                                                <th id="PrecioEditar">Precio Unitario</th>
                                                <th>Indicador de Impuestos</th>
                                                <th style="min-width:200px">Centro de Costo</th>
                                                <th style="min-width:200px">Responsable</th>
                                                <th>Total</th>
                                                <th style="display:none">Almacen</th>
                                                @*<th style="display:none">Proveedor</th>
                                                <th style="display:none">Numero de Fabricacion</th>
                                                <th style="display:none">Numero de Serie</th>
                                                <th style="display:none">Linea de Negocio</th>*@
                                                @*<th>Centro Costos</th>*@
                                                @*<th>Proyecto</th>*@
                                                @*<th style="display:none">Cantidad</th>
                                                <th style="display:none">En Pedido</th>*@
                                                <th>Referencia</th>
                                                <th>Accion</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tbody_detalle"></tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="Anexos" class="tabcontent">

                                @using (Html.BeginForm("GuardarFile", "SolicitudRQ", FormMethod.Post, new { id = "SubirAnexos", enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class=''>
                                            <div class="col-sm-8">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="file" name="file" id="file" class="form-control" />
                                            </div>
                                        </div>
                                        <div class='form-group-sm'>
                                            <div class="col-sm-4">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="submit" value="Subir Archivo" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @ViewBag.Message
                                    <br />
                                    <div class="table-responsive">
                                        <table class="table" id="tabla_files">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Descargar</th>
                                                    <th>Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                            @*@for (var i = 0; i <= Model.Count - 1; i++)
                                        {
                                        <tr>
                                        <td>@Model[i].ToString()</td>
                                        <td>@Html.ActionLink("Download", "Download", new { ImageName = Model[i].ToString() })</td>
                                        </tr>
                                        }*@
                                        </table>

                                    </div>
                                }

                            </div>

                            <br />
                            <div class="row">
                                <div class='form-group-sm' style="display:none">
                                    <label for="cboTitular" class="control-label col-sm-2 left-align">Titular</label>
                                    <div class="col-sm-4">
                                        <select id="cboTitular" class="form-control input-sm" tabindex="11"></select>
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <div class="col-sm-6">
                                    </div>
                                </div>


                                <div class='form-group-sm'>
                                    <label for="txtTotalAntesDescuento" class="control-label col-sm-2 left-align">Sub Total</label>
                                    <div class="col-sm-4">
                                        <input id="txtTotalAntesDescuento" type="text" class="form-control input-sm" tabindex="12" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <div class="col-sm-6">
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="txtImpuesto" class="control-label col-sm-2 left-align">Impuesto</label>
                                    <div class="col-sm-4">
                                        <input id="txtImpuesto" type="text" class="form-control input-sm" tabindex="15" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <div class="col-sm-6">
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="txtImpuesto" class="control-label col-sm-2 left-align">Redondeo</label>
                                    <div class="col-sm-4">
                                        <input id="txtRedondeo" type="text" class="form-control input-sm" tabindex="15" onchange="redondear()">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtTotal" class="control-label col-sm-2 left-align"></label>
                                    <div class="col-sm-4">
                                        @*<input id="txtTotal" type="number" class="form-control input-sm" tabindex="16">*@
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="txtTotal" class="control-label col-sm-2 left-align">Total</label>
                                    <div class="col-sm-4">
                                        <input id="txtTotal" type="text" class="form-control input-sm" tabindex="16" disabled>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtComentarios" class="control-label col-sm-2 left-align">Comentarios</label>
                                    <div class="col-sm-10">
                                        @*<input id="txtComentarios" type="date" class="form-control input-sm" tabindex="14">*@
                                        <textarea class="form-control" id="txtComentarios" name="txtComentarios" rows="25" cols="30" tabindex="14"></textarea>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class='form-horizontal col-3 col-sm-3'>

                            <div class="row" id="global" style="font-size:10px">
                                <div class='container-fluid' id="mensajes">
                                    <label for="cboSerie" class="control-label col-sm-2 center-align">T.Movimiento</label>
                                    <br />
                                    <select style="height: 20px" id="cboTipoDocumentoOperacion" class="form-control input-sm" tabindex="0"></select>
                                    @*<select style="height: 20px" id="cboSerie" class="form-control" tabindex="0" onchange="ObtenerNumeracion()"></select>*@
                                    @* <div class="col-sm-10">
                                    <select style="height: 20px" id="cboSerie" class="form-control" tabindex="0" onchange="ObtenerNumeracion()"></select>
                                    </div>*@

                                    <hr style="margin: 6px" />
                                    <p>Tipo  Documento: <select style="height: 20px" id="IdTipoDocumentoRef" class="form-control input-sm" tabindex="0" onchange="changeTipoDocumento()"></select> </p>
                                    <hr style="margin: 0px 0px 5px 0px" />
                                    <p>Serie y Numero:  <input id="SerieNumeroRef" type="text" class="form-control huser-20" tabindex="16"> </p>
                                    <hr style="margin: 0px 0px 5px 0px" />
                                    <div style="display:none">
                                        <p>
                                            Cuadrilla:
                                            <select style="height: 20px" id="IdCuadrillaOLD" type="text" class="form-control input-sm" tabindex="0" onchange="SetCuadrillaTabla();ObtenerEmpleadosxIdCuadrilla()">
                                                <option value="0">SELECCIONE CUADRILLAS </option>
                                            </select>
                                        </p>
                                        <hr style="margin: 0px 0px 5px 0px" />

                                        <p>
                                            Responsable:
                                            <select style="height: 20px" id="IdResponsableOLD" type="text" class="form-control input-sm" tabindex="0" onchange="SetearEmpleadosEnTabla()">
                                                <option value="0">SELECCIONE Responsable </option>
                                            </select>
                                        </p>
                                        <hr style="margin: 0px 0px 5px 0px" />
                                    </div>
                                    <p>
                                        Forma de Pago:
                                        <select style="height: 20px" id="IdCondicionPago" type="text" class="form-control input-sm" tabindex="0">
                                            <option value="0"> - Condicion Pago - </option>
                                        </select>
                                    </p>
                                    <hr style="margin: 0px 0px 5px 0px" />
                                    <p>
                                        Tipo Registro:
                                        <select style="height: 20px" id="IdTipoRegistro" type="text" class="form-control input-sm" onchange="changeTipoRegistro();esRendicion()" tabindex="0">
                                            <option value="0"> - Tipo Registro - </option>
                                        </select>
                                    </p>
                                    <hr style="margin: 0px 0px 5px 0px" />
                                    <p id="DivSemana">
                                        Semana:
                                        <select style="height: 20px" id="IdSemana" type="text" class="form-control input-sm" tabindex="0">
                                            <option value="0"> - Semana - </option>
                                        </select>
                                    </p>
                                    <hr style="margin: 0px 0px 5px 0px" />
                                    <p id="DivGiro">
                                        Giro:
                                        <select style="height: 20px" id="IdGiro" type="text" class="form-control input-sm" tabindex="0">
                                            <option value="0"> - Giro - </option>
                                        </select>
                                    </p>
                                    <div id="divServPub">
                                        <hr style="margin: 0px 0px 5px 0px" />
                                        <p id="DivConsumoM3">
                                            Consumo en M3:
                                            <input type="text" id="consumomM3" class="form-control huser-20" />
                                        </p>
                                        <hr style="margin: 0px 0px 5px 0px" />
                                        <p id="DivConsumoHW">
                                            Consumo en HW:
                                            <input type="text" id="consumomHW" class="form-control huser-20" />
                                        </p>

                                        @*<p>Ref1  <input id="txtTotal" type="number" class="form-control huser-20" tabindex="16" > </p>
                                        <hr style="margin: 0px 0px 5px 0px"/>
                                        <p>Ref1  <input id="txtTotal" type="number" class="form-control huser-20" tabindex="16" > </p>*@

                                    </div>
                                    <div id="divDetraccion">
                                        <hr style="margin: 0px 0px 5px 0px" />
                                        <p id="DivTasaDet">
                                            Tasa detracción:
                                            <select disabled style="height: 20px" id="TasaDet" type="text" class="form-control input-sm" tabindex="0" onchange="CargarCondPagoDet()">
                                            </select>
                                        </p>
                                        <p id="DivCondicionPagoDet">
                                            Condición Pago Detracción:
                                            <select disabled style="height: 20px" id="CondicionPagoDet" type="text" class="form-control input-sm" tabindex="0">
                                                <option value="0">seleccione</option>
                                            </select>
                                        </p>
                                        <hr style="margin: 0px 0px 5px 0px" />
                                        <p id="DivGrupoDet">
                                            Grupo detracción:
                                            <select disabled style="height: 20px" id="GrupoDet" type="text" class="form-control input-sm" tabindex="0">
                                            </select>
                                        </p>
                                        <div />



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6" style="color: red;font-weight: bold">
                            <p style="margin: 0px 0px 0px 0px">TOTAL DE ITEMS:  <span id="total_items"></span> </p>
                            <p style="margin: 0px 0px 0px 0px">USUARIO: <span id="NombUsuario"></span> </p>
                            <p style="margin: 0px 0px 0px 0px">FECHA DE  CREACION: <span id="CreatedAt"></span> </p>
                            <p style="margin: 0px 0px 0px 0px">FECHA DE  EDICION: <span id="EditedAt"></span> </p>
                            <p style="margin: 0px 0px 0px 0px">EDITADO POR: <span id="NombUsuarioEdicion"></span> </p>
                        </div>

                        <div class="col-sm-6">
                            <div class='form-group-sm'>
                                <!-- Single button -->
                                <div class="btn btn-group dropup pull-right plu" id="div_copiarde">
                                    <button type="button" class="btn btn-info pull-right plu">COPIAR DE</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li onclick="AbrirModalPedidos()">Pedido</li>
                                        <li onclick="AbrirModalEntregas()">Entrega</li>
                                    </ul>
                                </div>


                                <button type="button" id="btnGrabar" onclick="GuardarSolicitud()" class="btn btn-primary pull-right plu">Grabar</button>
                                <button type="button" id="btnEditar" onclick="Editar()" class="btn btn-primary pull-right plu">Grabar</button>
                                <button type="button" id="btnExtornar" onclick="Extornar()" class="btn btn-primary pull-right plu">Extornar</button>
                                <button type="button" id="btnCancelar" onclick="CerrarModal()" class="btn btn-danger pull-right" style="background-color:orange;">Cerrar</button>
                            </div>
                        </div>
                    </div>




                    @*<div class="row">
                    <button type="button" id="btnGrabar" onclick="GuardarSolicitud()" class="btn btn-primary pull-right plu">Grabar</button>
                    <button type="button" id="btnCancelar" onclick="CerrarModal()" class="btn btn-danger pull-right" style="background-color:orange;">Cancelar</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Agregar Item</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                <input id='txtId' type="hidden" name="txtId" class="form-control input-sm">

                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="cboAlmacenItem" class="control-label col-sm-2 left-align">Almacen</label>
                                        <div class="col-sm-3">
                                            <select id="cboAlmacenItem" class="form-control input-sm" tabindex="7" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoAlmacen()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                    @*<div class='form-group-sm'>
                                    <label for="cboPrioridadItem" class="control-label col-sm-2 left-align">Prioridad</label>
                                    <div class="col-sm-4">
                                    <select id="cboPrioridadItem" class="form-control input-sm" tabindex="2" style="height:26px">
                                    <option value="1">ALTA</option>
                                    <option value="2">BAJA</option>
                                    </select>
                                    </div>
                                    </div>*@
                                    <div class='form-group-sm'>
                                        <label for="txtCodigoItem" class="control-label col-sm-2 left-align">Codigo</label>
                                        <div class="col-sm-3">
                                            <input id="txtCodigoItem" type="text" class="form-control input-sm" tabindex="1" disabled>
                                            <input id="txtIdItem" type="hidden" class="form-control input-sm" tabindex="1">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarCodigoProducto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    @*<div class='form-group-sm'>
                                    <label for="txtCodigoItem" class="control-label col-sm-2 left-align">Codigo</label>
                                    <div class="col-sm-3">
                                    <input id="txtCodigoItem" type="text" class="form-control input-sm" tabindex="1" disabled>
                                    <input id="txtIdItem" type="hidden" class="form-control input-sm" tabindex="1">
                                    </div>
                                    <div class="col-sm-1">
                                    <button type="button" classs="btn-primary" onclick="BuscarCodigoProducto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                    </div>*@
                                    @*<div class='form-group-sm'>
                                    <label for="txtMedidaItem" class="control-label col-sm-2 left-align">Medida</label>
                                    <div class="col-sm-4">
                                    <input id="txtMedidaItem" type="text" class="form-control input-sm" tabindex="2">
                                    </div>
                                    </div>*@

                                    <div class='form-group-sm'>
                                        <label for="cboGrupoUnidadMedida" class="control-label col-sm-2 left-align">Grupo Unidad</label>
                                        <div class="col-sm-4">
                                            <select id="cboGrupoUnidadMedida" class="form-control input-sm" tabindex="2" style="height:26px" onchange="CargarDefinicionxGrupo()" disabled></select>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="cboMedidaItem" class="control-label col-sm-2 left-align">Medida</label>
                                        <div class="col-sm-4">
                                            <select id="cboMedidaItem" class="form-control input-sm" tabindex="2" style="height:26px"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="txtDescripcionItem" class="control-label col-sm-2 left-align">Descripcion</label>
                                        <div class="col-sm-10">
                                            <input id="txtDescripcionItem" type="text" class="form-control input-sm" tabindex="3" disabled style="height:50px">
                                        </div>
                                    </div>

                                </div>


                                <div class="row">


                                    <div class='form-group-sm'>
                                        <label for="txtPrecioUnitarioItem" class="control-label col-sm-2 left-align">Precio Unitario</label>
                                        <div class="col-sm-4">
                                            <input id="txtPrecioUnitarioItem" type="text" class="form-control input-sm" tabindex="4">
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="IdIndicadorImpuesto" class="control-label col-sm-2 left-align">Indicador Impuesto</label>
                                        <div class="col-sm-4">
                                            <select id="IdIndicadorImpuesto" class="form-control input-sm" tabindex="2" style="height:26px"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class='form-group-sm'>
                                        <label for="txtCantidadItem" class="control-label col-sm-2 left-align">Cantidad</label>
                                        <div class="col-sm-4">
                                            <input id="txtCantidadItem" max="5" type="number" class="form-control input-sm" tabindex="6" onkeyup="ValidarDecimalesCantidades('txtCantidadItem')">
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label id="lblStockItem" for="txtStockAlmacenItem" class="control-label col-sm-2 left-align">Stock en Almacen</label>
                                        <div class="col-sm-4">
                                            <input id="txtStockAlmacenItem" type="text" class="form-control input-sm" tabindex="5" disabled>
                                        </div>
                                    </div>


                                </div>


                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label id="lblStockItem" for="IdCuadrilla" class="control-label col-sm-2 left-align">Centro de Costo</label>
                                        <div class="col-sm-10">
                                            <select id="IdCuadrilla" type="text" class="form-control input-sm" tabindex="0" onchange="ObtenerEmpleadosxIdCuadrilla()">
                                                <option value="0">SELECCIONE CUADRILLAS </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label id="lblStockItem" for="IdResponsable" class="control-label col-sm-2 left-align">Responsable</label>
                                        <div class="col-sm-10">
                                            <select id="IdResponsable" type="text" class="form-control input-sm" tabindex="0">
                                                <option value="0">SELECCIONE Responsable </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row" style="display:none">

                                    <div class='form-group-sm'>
                                        <label for="cboProyectoItem" class="control-label col-sm-2 left-align">Proyecto</label>
                                        <div class="col-sm-3">
                                            <select id="cboProyectoItem" class="form-control input-sm" tabindex="7" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoProyecto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="cboCentroCostoItem" class="control-label col-sm-2 left-align">Centro de Costo</label>
                                        <div class="col-sm-3">
                                            <select id="cboCentroCostoItem" class="form-control input-sm" tabindex="8" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoCentroCosto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class='form-group-sm' id="divTipoServicio">
                                        <label class="control-label col-sm-2 left-align">Tipo de Servicio:</label>
                                        <div class="col-xs-3">
                                            <input type="radio" id="SNinguno" name="TipoServicio" checked />
                                            <label style="font-size:1.5rem" for="PrecioXGeneral">Ninguno</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="radio" id="SPreventivo" name="TipoServicio" />
                                            <label style="font-size:1.5rem" for="PrecioXObra">Preventivo</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="radio" id="SCorrectivo" name="TipoServicio" />
                                            <label style="font-size:1.5rem" for="PrecioXObra">Correctivo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='form-group-sm'>
                                        <label for="txtReferenciaItem" class="control-label col-sm-2 left-align">Referencia</label>
                                        <div class="col-sm-12">
                                            @*<input id="txtComentarios" type="date" class="form-control input-sm" tabindex="14">*@
                                            <textarea class="form-control" id="txtReferenciaItem" name="txtReferenciaItem" rows="3" cols="15" tabindex="9"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right plu" onclick="AgregarLinea()">+ Agregar Item</button>
                    <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="LimpiarModalItem()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal Listado Productos-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form modal-lg" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Items</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_items" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Stock</th>
                                            <th>Uni. Medida</th>


                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_items"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarItemListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoItems()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal Listado Proyecto-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Items</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_proyecto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_proyecto"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarProyectoListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoProyecto()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Listado CentroCosto-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoCentroCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Items</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_centroCosto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_centroCosto"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarCentroCostoListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoCentroCosto()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*MODAL SERVICIOS*@
    <!-- Modal -->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalServicios" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="margin-top:20px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Agregar Item</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                <input id='txtId' type="hidden" name="txtId" class="form-control input-sm">

                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="cboAlmacenItem" class="control-label col-sm-2 left-align">Almacen</label>
                                        <div class="col-sm-3">
                                            <select id="cboAlmacenItem" class="form-control input-sm" tabindex="7" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoAlmacen()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                    @*<div class='form-group-sm'>
                                    <label for="cboPrioridadItem" class="control-label col-sm-2 left-align">Prioridad</label>
                                    <div class="col-sm-4">
                                    <select id="cboPrioridadItem" class="form-control input-sm" tabindex="2" style="height:26px">
                                    <option value="1">ALTA</option>
                                    <option value="2">BAJA</option>
                                    </select>
                                    </div>
                                    </div>*@
                                    <div class='form-group-sm'>
                                        <label for="txtCodigoItem" class="control-label col-sm-2 left-align">Codigo</label>
                                        <div class="col-sm-3">
                                            <input id="txtCodigoItem" type="text" class="form-control input-sm" tabindex="1" disabled>
                                            <input id="txtIdItem" type="hidden" class="form-control input-sm" tabindex="1">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarCodigoProducto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    @*<div class='form-group-sm'>
                                    <label for="txtCodigoItem" class="control-label col-sm-2 left-align">Codigo</label>
                                    <div class="col-sm-3">
                                    <input id="txtCodigoItem" type="text" class="form-control input-sm" tabindex="1" disabled>
                                    <input id="txtIdItem" type="hidden" class="form-control input-sm" tabindex="1">
                                    </div>
                                    <div class="col-sm-1">
                                    <button type="button" classs="btn-primary" onclick="BuscarCodigoProducto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                    </div>*@
                                    @*<div class='form-group-sm'>
                                    <label for="txtMedidaItem" class="control-label col-sm-2 left-align">Medida</label>
                                    <div class="col-sm-4">
                                    <input id="txtMedidaItem" type="text" class="form-control input-sm" tabindex="2">
                                    </div>
                                    </div>*@

                                    <div class='form-group-sm'>
                                        <label for="cboGrupoUnidadMedida" class="control-label col-sm-2 left-align">Grupo Unidad</label>
                                        <div class="col-sm-4">
                                            <select id="cboGrupoUnidadMedida" class="form-control input-sm" tabindex="2" style="height:26px" onchange="CargarDefinicionxGrupo()" disabled></select>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="cboMedidaItem" class="control-label col-sm-2 left-align">Medida</label>
                                        <div class="col-sm-4">
                                            <select id="cboMedidaItem" class="form-control input-sm" tabindex="2" style="height:26px"></select>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="txtDescripcionItem" class="control-label col-sm-2 left-align">Descripcion</label>
                                        <div class="col-sm-4">
                                            <input id="txtDescripcionItem" type="text" class="form-control input-sm" tabindex="3" disabled>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="txtPrecioUnitarioItem" class="control-label col-sm-2 left-align">Precio Unitario</label>
                                        <div class="col-sm-4">
                                            <input id="txtPrecioUnitarioItem" type="text" class="form-control input-sm" tabindex="4">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="IdIndicadorImpuesto" class="control-label col-sm-2 left-align">Indicador Impuesto</label>
                                        <div class="col-sm-4">
                                            <select id="IdIndicadorImpuesto" class="form-control input-sm" tabindex="2" style="height:26px"></select>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="txtCantidadItem" class="control-label col-sm-2 left-align">Cantidad</label>
                                        <div class="col-sm-4">
                                            <input id="txtCantidadItem" max="5" type="number" class="form-control input-sm" tabindex="6" onkeyup="ValidarDecimalesCantidades('txtCantidadItem')">
                                        </div>
                                    </div>


                                </div>

                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="txtStockAlmacenItem" class="control-label col-sm-2 left-align">Stock en Almacen</label>
                                        <div class="col-sm-4">
                                            <input id="txtStockAlmacenItem" type="text" class="form-control input-sm" tabindex="5" disabled>
                                        </div>
                                    </div>


                                </div>


                                <div class="row" style="display:none">

                                    <div class='form-group-sm'>
                                        <label for="cboProyectoItem" class="control-label col-sm-2 left-align">Proyecto</label>
                                        <div class="col-sm-3">
                                            <select id="cboProyectoItem" class="form-control input-sm" tabindex="7" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoProyecto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="cboCentroCostoItem" class="control-label col-sm-2 left-align">Centro de Costo</label>
                                        <div class="col-sm-3">
                                            <select id="cboCentroCostoItem" class="form-control input-sm" tabindex="8" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoCentroCosto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class='form-group-sm'>
                                        <label for="txtReferenciaItem" class="control-label col-sm-2 left-align">Referencia</label>
                                        <div class="col-sm-12">
                                            @*<input id="txtComentarios" type="date" class="form-control input-sm" tabindex="14">*@
                                            <textarea class="form-control" id="txtReferenciaItem" name="txtReferenciaItem" rows="3" cols="15" tabindex="9"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right plu" onclick="AgregarLinea()">+ Agregar Item</button>
                    <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="LimpiarModalItem()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Listado Almacen-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoAlmacen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Items</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_almacen" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_almacen"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarAlmacenListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoAlmacen()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Listado Pedidos-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form modal-lg" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Pedidos</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table display" id="tabla_listado_pedidos" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th>Numero Pedido</th>
                                            <th>Proveedor</th>
                                            <th>Monto Total</th>
                                            @*<th>Accion</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_pedidos"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_checkSeleccionadosPedido" class="btn btn-danger pull-right" style="background-color:#005457;" onclick="AgregarSeleccionadoPedido()">Agregar Seleccionados</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoEntrega" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form modal-lg" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Entregas</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table display" id="tabla_listado_entregas" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th>Fecha</th>
                                            <th>N° Entrega</th>
                                            <th>Serie y Guia</th>
                                            <th>Proveedor</th>
                                            <th>Monto Total</th>
                                            @*<th>Accion</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_pedidos"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_checkSeleccionados" class="btn btn-danger pull-right" style="background-color:#005457;" onclick="AgregarSeleccionadOPDN()">Agregar Seleccionados</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

@*    <!-- Modal Docs Origen-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="" tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalDocsOrigen">Anexos</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>


                                <div class="table-responsive">
                                    <table class="table" id="tabla_DocsOrigen">
                                        <thead>
                                            <tr>
                                                <th>Origen</th>
                                                <th>Nro Doc</th>
                                                <th>Ver Reporte</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_ModalDocsOrigen"></tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
    <div id="ModalDocsOrigen" class="popup-sm allcp-form mfp-with-anim mfp-hide">
        <div class="panel">
            <div class="panel-heading">
                 <h5 class="modal-title" id="lblTituloModalDocsOrigen">Anexos</h5>
            </div>
            <div class="panel-body ">
              <div class='col s12 m12 '>
                            <div class='container-fluid'>


                                <div class="table-responsive">
                                    <table class="table" id="tabla_DocsOrigen">
                                        <thead>
                                            <tr>
                                                <th>Origen</th>
                                                <th>Nro Doc</th>
                                                <th>Ver Reporte</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_ModalDocsOrigen"></tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
            </div>
            <div class="panel-footer text-right">
                <div class="row">
                    <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" onclick="closePopup()" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    @* MODAL PROVEEDOR*@
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalProveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form modal-lg" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Agregar Proveedor</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>

                            <div class="form-group-sm" style="display:none;">
                                <input placeholder='' id='txtIdMP' type='text' style="display:none;">
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtCodigo" class="control-label col-sm-2 left-align">Codigo Proveedor</label>
                                    <div class="col-sm-4">
                                        <input id="txtCodigoMP" type="text" class="form-control input-sm" tabindex="0" disabled>
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="cboTipoPersona" class="control-label col-sm-2 left-align">Tipo Persona</label>
                                    <div class="col-sm-4">
                                        <select id="cboTipoPersonaMP" class="form-control input-sm" tabindex="1" onchange="changeTipoPersona()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="cboTipoDocumento" class="control-label col-sm-2 left-align">Tipo de Documento</label>
                                    <div class="col-sm-4">
                                        <select id="cboTipoDocumentoMP" class="form-control input-sm" tabindex="2"></select>
                                    </div>
                                </div>
                                <div class='form-group-sm' id="divDocumentoMP">
                                    <label for="txtNroDocumento" class="control-label col-sm-1 left-align">N°</label><label id="lblDocumentoMP" class="control-label col-sm-1 left-align">Documento</label>
                                    <div class="col-sm-4">
                                        <input id="txtNroDocumentoMP" onchange="CrearCodigo()" type="text" class="form-control input-sm" tabindex="3" onkeypress="soloEnteros(event, this);" maxlength="11">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtRazonSocial" id="lblRazonSocialMP" class="control-label col-sm-2 left-align">Razon Social</label>
                                    <div class="col-sm-4">
                                        <input id="txtRazonSocialMP" type="text" class="form-control input-sm" tabindex="4">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtDireccionFiscalMP" class="control-label col-sm-2 left-align">Direccion del Domicilio fiscal</label>
                                    <div class="col-sm-10">
                                        <input placeholder="" id="txtDireccionFiscalMP" type="text" class="form-control input-sm" tabindex="5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtTlfContacto" class="control-label col-sm-2 left-align">Teléfono</label>
                                    <div class="col-sm-3">
                                        <input id="txtTlfContactoMP" type="text" class="form-control input-sm" tabindex="19">
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="txtEmailContacto" class="control-label col-sm-2 left-align">Email</label>
                                    <div class="col-sm-5">
                                        <input id="txtEmailContactoMP" type="text" class="form-control input-sm" tabindex="20">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="txtFechaIngreso" class="control-label col-sm-2 left-align">Fecha Ingreso</label>
                                    <div class="col-sm-2">
                                        <input id="txtFechaIngresoMP" type="date" class="form-control date input-sm" tabindex="21">
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="cboCondicionPago" class="control-label col-sm-1 left-align" style="font-weight:600;text-decoration: underline;">Condicion Pago</label>
                                    <div class="col-sm-3">
                                        <select id="cboCondicionPagoMP" class="form-control input-sm" tabindex="13"></select>
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="txtDiasEntrega" class="control-label col-sm-2 left-align" style="font-weight:600;text-decoration: underline;">Dias Entrega</label>
                                    <div class="col-sm-2">
                                        <input id="txtDiasEntregaMP" type="number" class="form-control date input-sm" tabindex="22">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="chkActivoMP" class="control-label col-sm-2 left-align">Activo</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" id="chkActivoMP" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group-sm' id="div4taMP">
                                    <label for="chk4taMP" class="control-label col-sm-2 left-align">Afecto 4ta Categoria </label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" id="chk4taMP" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='form-group-sm'>
                                <label for="txtObservacion" class="control-label col-sm-2 left-align">Observacion</label>
                                <div class="col-sm-10">
                                    <input id="txtObservacionMP" type="text" class="form-control input-sm" tabindex="22">
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_agregarProveedorbd" class="btn btn-danger pull-right" style="background-color:#005457;" onclick="GuardarProveedor()">Agregar Proveedor</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@{
    Random rnd = new Random();
}



<script src="~/Scripts/FacturaProveedor/Listado.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>


