@using Microsoft.AspNetCore.Http
@using Karambolo.AspNetCore.Bundling.ViewHelpers
@addTagHelper *, Karambolo.AspNetCore.Bundling
@inject IHttpContextAccessor Accessor

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #bcecf1;
        background-color: #effafc;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 8px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #baecf5;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #baecf5;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 0px 10px;
    }
</style>

<div class="container-fluid" style="height:93%;">
    <div class="panel">
        <div class="container-fluid">
            <div class="topbar-left col-xs-6">
                <h3>Solicitudes</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6">
                <div class="topbar-left col-xs-6">
                    <h4 style="font-size:1.2em;">Total de Registros: <span id="spnTotalRegistros"></span></h4>
                </div>
            </div>
            <div class="col-xs-6 right">
                <button class="btn btn-sm  btn-primary pull-right plu" data-target="modal1" onclick="ModalNuevo()" style="margin-left:10px;">Nuevo</button>
                <input type="text" id="IdPerfil" value="IDPERFIL" style="display:none;" />
                <input type="text" id="artIdSociedad" value="1" style="display:none" />
                @*<button class="btn btn-sm  btn-success pull-right plu" id="btnPdf" style="margin-left:10px;">Descargar PDF</button>
                <button class="btn btn-sm btn-info pull-right plu" id="btnExcel" style="margin-left:10px;">Descargar Excel</button>*@
            </div>
             <div class="col-xs-12 right">
                 <label class="col-sm-1" for="cboObraFiltro">Base</label>
                 <div class="col-sm-3">
                     <select class="form-control" id="cboObraFiltro"></select>
                 </div>
                @*<button class="btn btn-primary" style="margin-top:3px" onclick="consultaservidor()">Buscar</button>*@
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="container-fluid">

            <div class="panel" style="background-color:#effafc">
                <div class="row">

                    <input style="display:none" id="IdPerfilSesion" type="text" value="@Accessor.HttpContext.Session.GetInt32("IdPerfil")" disabled></input>
                    @* @if (base.Session["idPerfil"].ToString() == "2" || base.Session["idPerfil"].ToString() == "5" || base.Session["idPerfil"].ToString() == "6")
                    {

                    }
                    else
                    {*@
                    <label for="CboIdSolicitante" class="control-label col-sm-1 left-align" style="color:black;margin-top:5px;display:none">Solicitante</label>
                    <div class="col-sm-2" style="display:none">
                        <select id="CboIdSolicitante" class="form-control"></select>
                    </div>
                    @*}*@


                    <label for="FechaInicio" class="control-label col-sm-1 left-align" style="color:black;margin-top:5px">Fecha Inicio</label>
                    <div class="col-sm-2">
                        <input type="text" id="FechaInicio" class="form-control" autocomplete="off" placeholder="@DateTime.Now.ToString("01/MM/yyyy")" />
                    </div>
                    @{
                        DateTime date = DateTime.Now;
                        DateTime oPrimerDiaDelMes = new DateTime(date.Year, date.Month, 1);
                        DateTime oUltimoDiaDelMes = oPrimerDiaDelMes.AddMonths(1).AddDays(-1);
                        var fechafin = oUltimoDiaDelMes.ToString("dd/MM/yyyy");
                    }
                    <label for="FechaFinal" class="control-label col-sm-1 left-align" style="color:black;margin-top:5px">Fecha Final</label>
                    <div class="col-sm-2">
                        <input type="text" id="FechaFinal" class="form-control" autocomplete="off" placeholder="@fechafin" />
                    </div>
                    <label hidden for="Estado" class="control-label col-sm-1 left-align" style="color:black;margin-top:5px">Estado</label>
                    <div hidden class="col-sm-2">
                        <select class="form-control" id="Estado">

                            <option value="0">Todos</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-xs btn-primary" onclick="BuscarPorFechas()" style="margin-bottom:10px">Buscar</button>
                    </div>
                </div>
            </div>

            <br />
            <div class="table-responsive" style="border:0px">
                <table id="table_id" class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>N° RQ</th>
                            <th>Solicitante</th>
                            <th>Obra</th>
                            @*<th>Area Solicitante</th>*@
                            @*<th>Serie</th>*@
                            @*<th>Numero</th>*@
                            <th>Tipo</th>
                            @*<th>Moneda</th>*@
                            @*<th>Neto</th>*@
                            @* <th>Total</th>*@
                            <th>Comentario</th>
                            <th>Estado</th>
                            <th>Fecha Documento</th>
@*                            <th>Valido Hasta</th>*@
                            @*<th>PDF</th>*@
                            <th>Accion</th>
                            @*<th>Historial</th>*@
                            @*@if (base.Session["IdPerfil"].ToString() == "1" || base.Session["IdPerfil"].ToString() == "5")
                            {*@
                            <th>Cancelar</th>
                            @*  }*@

                        </tr>
                    </thead>
                    <tbody id="tbody_Solicitudes"></tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="modal-form" class="popup-xxl allcp-form mfp-with-anim mfp-hide">
        <div class="panel">
            <div class="panel-heading">
                <h5 id='lblTituloModal'></h5>
            </div>
            <div class="panel-body ">
                <div class='col s12 m12 '>
                    <div class='container-fluid'>
                        <div class='form-horizontal'>
                            <div class="form-group-sm" style="display:none;">
                                <input placeholder='' id='txtId' type='text' style="display:none;">
                                @*<input placeholder='' id='txtEstado' type='text' style="display:none;">*@
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="IdBase" class="control-label col-sm-2 left-align">Base</label>
                                    <div class="col-sm-4">
                                        <select id="IdBase" class="form-control input-sm" tabindex="0" onchange="ObtenerObraxIdBase();LimpiarAlmacen()"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="IdObra" class="control-label col-sm-2 left-align">Obra</label>
                                    <div class="col-sm-4">
                                        <select id="IdObra" class="form-control input-sm" tabindex="0" onchange="ObtenerAlmacenxIdObra()"></select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="cboAlmacen" class="control-label col-sm-2 left-align">Almacen</label>
                                    <div class="col-sm-4">
                                        <select id="cboAlmacen" class="form-control input-sm" tabindex="0" onchange="seleccionarAlmacenItem()"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="cboSerie" class="control-label col-sm-2 left-align">Serie</label>
                                    <div class="col-sm-4">
                                        <select id="cboSerie" class="form-control input-sm" tabindex="0" onchange="ObtenerNumeracion()"></select>
                                    </div>
                                </div>
                                @* <div class='form-group-sm' style="display:none">
                                <label for="txtEstado" class="control-label col-sm-2 left-align">Estado</label>
                                <div class="col-sm-4">
                                <input id="txtEstado" type="text" class="form-control input-sm" tabindex="1" value="1" disabled>
                                </div>
                                </div>*@
                                <input id="txtEstado" type="hidden" class="form-control input-sm" tabindex="1" value="1" disabled>
                            </div>

                            <div class="row">

                                <div class='form-group-sm'>
                                    <label for="cboPrioridad" class="control-label col-sm-2 left-align">Prioridad</label>
                                    <div class="col-sm-4">
                                        <select id="cboPrioridad" class="form-control input-sm" tabindex="5" disabled>
                                            <option value="1">ALTA</option>
                                            <option value="2">BAJA</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="txtNumeracion" class="control-label col-sm-2 left-align">Numeracion</label>
                                    <div class="col-sm-4">
                                        <input id="txtNumeracion" type="text" class="form-control input-sm" tabindex="2" disabled>
                                    </div>
                                </div>



                            </div>


                            <div class="row">

                                <div class='form-group-sm' style="display:none">
                                    @*<label for="cboMoneda" class="control-label col-sm-2 left-align">Tipo de Cambio</label>*@
                                    <label for="cboMoneda" class="control-label col-sm-2 left-align">Moneda</label>
                                    <div class="col-sm-4">
                                        <select id="cboMoneda" type="text" class="form-control input-sm" tabindex="3" onchange="ValidarMonedaBase()"></select>
                                    </div>
                                    <div class="col-sm-2" style="display:none">
                                        <input id="txtTipoCambio" type="text" class="form-control input-sm" onkeyup="EnviarTipoCambioDetalle()" tabindex="4" disabled>
                                    </div>
                                </div>



                                <div class='form-group-sm' style="display:none">
                                    <label for="cboImpuesto" class="control-label col-sm-2 left-align">Impuestos</label>
                                    <div class="col-sm-4">
                                        <select id="cboImpuesto" class="form-control input-sm" tabindex="6" onchange="SetImpuestoDetalle()"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm' style="display:none">
                                    <label for="txtFechaContabilizacion" class="control-label col-sm-2 left-align">Fecha Contabilizacion</label>
                                    <div class="col-sm-4">
                                        <input id="txtFechaContabilizacion" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="6">
                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <div class='form-group-sm' style="display:none">
                                    <label for="cboSucursal" class="control-label col-sm-2 left-align">Sucursal</label>
                                    <div class="col-sm-4">
                                        <select id="cboSucursal" class="form-control input-sm" tabindex="7"></select>
                                    </div>
                                </div>


                                <div class='form-group-sm'>
                                    <label for="cboEmpleado" class="control-label col-sm-2 left-align">Solicitante</label>
                                    <div class="col-sm-4">
                                        <select id="cboEmpleado" class="form-control input-sm" tabindex="5" disabled>
                                            <option value="@Accessor.HttpContext.Session.GetInt32("IdUsuario").ToString()" selected>@Accessor.HttpContext.Session.GetString("NombUsuario").ToString()</option>
                                            @*<option value="1" selected>NOMBUSUARIO</option>*@

                                        </select>
                                    </div>
                                </div>


                                <div class='form-group-sm'>
                                    <label for="txtFechaValidoHasta" class="control-label col-sm-2 left-align">Valido Hasta</label>
                                    <div class="col-sm-4">
                                        @{
                                            var fechaActual = DateTime.Now;
                                            var nuevaFecha = fechaActual.AddDays(15);
                                            var fecha = nuevaFecha.ToString("yyyy-MM-dd");

                                                <input id="txtFechaValidoHasta" value="@fecha" type="date" class="form-control input-sm" tabindex="8" disabled>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='form-group-sm'>
                                    <label for="cboDepartamento" class="control-label col-sm-2 left-align">Area Solicitante</label>
                                    <div class="col-sm-4">
                                        <select id="cboDepartamento" class="form-control input-sm" tabindex="9" disabled>
                                            <option value="1" selected>Departamento1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="txtFechaDocumento" class="control-label col-sm-2 left-align">Fecha Documento</label>
                                    <div class="col-sm-4">
                                        <input id="txtFechaDocumento" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control input-sm" tabindex="10" disabled>
                                    </div>
                                </div>
                            </div>



                            <br />

                            <div class="tab">
                                <button class="tablinks active" onclick="openContenido(event, 'Contenido')">Contenido</button>
                                <button class="tablinks" onclick="openContenido(event, 'Anexos')">Anexos</button>

                            </div>

                            <div id="Contenido" class="tabcontent" style="display: block;">
                                <div class='form-group-sm'>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="cboClaseArticulo" style="margin-bottom:10px;margin-top:5px" onchange="CambiarClaseArticulo()">
                                            <option value="0">Seleccione</option>
                                            <option value="1">Producto</option>
                                            <option value="2">Servicio</option>
                                            <option value="3">Activo</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="IdTipoProducto" style="margin-bottom:10px;margin-top:5px">
                                            <option value="0">Seleccione</option>
                                            <option value="1">MATERIALES</option>
                                            <option value="2">AUXILIARES</option>
                                        </select>
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <div class="col-sm-4">
                                        <button id="OpenModalItem" style="margin-bottom:10px;margin-top:5px" class="btn btn-xs btn-info" onclick="OpenModalItem()" type="button">Agregar Item</button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="tabla">
                                        <thead>
                                            <tr>
                                                <th style="display:none"><button style="display:none" class="btn btn-xs btn-info" onclick="AgregarLinea()" type="button">+</button></th>
                                                <th>Accion</th>
                                                <th class="HabilitarVisualizacion" style="display:none">Nro OC/OS</th>
                                                <th class="HabilitarVisualizacion" style="display:none">Fecha</th>
                                                <th class="HabilitarVisualizacion" style="display:none">Estado de la OC</th>
                                                
                                                <th style="min-width:130px">Item</th>
                                                <th style="min-width:320px">Descripcion de Articulo</th>
                                                <th style="min-width:100px">UM</th>
                                                <th style="min-width:100px">Prioridad</th>
                                                @*<th style="display:none">Fecha Necesaria</th>
                                                <th style="display:none">Moneda</th>
                                                <th style="display:none">Tipo Cambio</th>*@
                                                <th style="min-width:80px">Cantidad Solicitada</th>
                                                <th style="min-width:80px">Cantidad Aprobada</th>
                                                <th style="min-width:80px;display:none">Precio</th>
                                                @*<th style="display:none">Indicador de Impuestos</th>*@
                                                <th style="min-width:80px;display:none">Total</th>
                                                <th style="min-width:140px">Almacen</th>
                                                @*<th style="display:none">Proveedor</th>
                                                <th style="display:none">Numero de Fabricacion</th>
                                                <th style="display:none">Numero de Serie</th>
                                                <th style="display:none">Linea de Negocio</th>*@
                                                <th style="min-width:90px;display:none">Centro Costos</th>
                                                <th style="min-width:130px;display:none">Proyecto</th>
                                                @*<th style="display:none">Cantidad</th>
                                                <th style="display:none">En Pedido</th>*@
                                                <th style="min-width:200px">Comentario</th>


                                            </tr>
                                        </thead>
                                        <tbody id="tbody_detalle"></tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="Anexos" class="tabcontent">

                                @using (Html.BeginForm("GuardarFile", "SolicitudRQ", FormMethod.Post, new { id = "SubirAnexos", enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class=''>
                                            <div class="col-sm-8">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="file" name="file" id="file" class="form-control" />
                                            </div>
                                        </div>
                                        <div class='form-group-sm'>
                                            <div class="col-sm-4">
                                                @*<label for="file">Subir Anexos</label>*@
                                                <input type="submit" value="Subir Archivo" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @ViewBag.Message
                                    <br />
                                    <div class="table-responsive">
                                        <table class="table" id="tabla_files">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Descargar</th>
                                                    <th>Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                            @*@for (var i = 0; i <= Model.Count - 1; i++)
                                        {
                                        <tr>
                                        <td>@Model[i].ToString()</td>
                                        <td>@Html.ActionLink("Download", "Download", new { ImageName = Model[i].ToString() })</td>
                                        </tr>
                                        }*@
                                        </table>

                                    </div>
                                }

                            </div>

                            <br />
                            <div class="row">
                                <div class='form-group-sm' style="display:none">
                                    <label for="cboTitular" class="control-label col-sm-2 left-align">Titular</label>
                                    <div class="col-sm-4">
                                        <select id="cboTitular" class="form-control input-sm" tabindex="11"></select>
                                    </div>
                                </div>

                                <div class='form-group-sm'>
                                    <label for="txtComentarios" class="control-label col-sm-2 left-align">Comentarios</label>
                                    <div class="col-sm-4">

                                        <textarea style="height:50px" class="form-control" id="txtComentarios" name="txtComentarios" rows="5" cols="30" tabindex="14"></textarea>
                                    </div>
                                </div>

                                @*<div class='form-group-sm'>
                                <label for="txtTotalAntesDescuento" class="control-label col-sm-2 left-align">Sub Total</label>
                                <div class="col-sm-4">
                                <input id="txtTotalAntesDescuento" type="number" class="form-control input-sm" tabindex="12" disabled>
                                </div>
                                </div>*@
                            </div>

                            @*<div class="row">
                            <div class='form-group-sm'>
                            <div class="col-sm-6">
                            </div>
                            </div>

                            <div class='form-group-sm'>
                            <label for="txtImpuesto" class="control-label col-sm-2 left-align">Impuesto</label>
                            <div class="col-sm-4">
                            <input id="txtImpuesto" type="number" class="form-control input-sm" tabindex="15" disabled>
                            </div>
                            </div>
                            </div>*@


                            <div class="row" style="display:none">
                                <div class='form-group-sm'>
                                    <label for="txtTotal" class="control-label col-sm-2 left-align"></label>
                                    <div class="col-sm-4">
                                        @*<input id="txtTotal" type="number" class="form-control input-sm" tabindex="16">*@
                                    </div>
                                </div>
                                <div class='form-group-sm'>
                                    <label for="txtTotal" class="control-label col-sm-2 right-align" style="text-align:center">Total</label>
                                    <div class="col-sm-4">
                                        <input id="txtTotal" type="number" class="form-control input-sm" tabindex="16" disabled>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <div class="row">
                <button type="button" id="btnGrabar" onclick="GuardarSolicitud()" class="btn btn-primary pull-right plu">Grabar</button>
                <button type="button" id="btnCancelar" onclick="CerrarModal()" class="btn btn-danger pull-right" style="background-color:orange;">Cerrar</button>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form"  role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Agregar Item</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                <input id='txtId' type="hidden" name="txtId" class="form-control input-sm">

                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="cboAlmacenItem" class="control-label col-sm-2 left-align">Almacen</label>
                                        <div class="col-sm-3">
                                            <select id="cboAlmacenItem" class="form-control input-sm" tabindex="7" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" id="BtnBuscarListadoAlmacen" classs="btn-primary" onclick="BuscarListadoAlmacen()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                    <div class='form-group-sm'>
                                        <label for="cboPrioridadItem" class="control-label col-sm-2 left-align">Prioridad</label>
                                        <div class="col-sm-4">
                                            <select id="cboPrioridadItem" class="form-control input-sm" tabindex="2" style="height:26px">
                                                <option value="1">ALTA</option>
                                                <option value="2">BAJA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='form-group-sm'>
                                        <label for="txtCodigoItem" class="control-label col-sm-2 left-align">Codigo</label>
                                        <div class="col-sm-3">
                                            <input id="txtCodigoItem" type="text" class="form-control input-sm" tabindex="1" disabled>
                                            <input id="txtIdItem" type="hidden" class="form-control input-sm" tabindex="1">
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" id="BtnBuscarCodigoProducto" classs="btn-primary" onclick="BuscarCodigoProducto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    @*<div class='form-group-sm'>
                                    <label for="txtMedidaItem" class="control-label col-sm-2 left-align">Medida</label>
                                    <div class="col-sm-4">
                                    <input id="txtMedidaItem" type="text" class="form-control input-sm" tabindex="2">
                                    </div>
                                    </div>*@

                                    <div class='form-group-sm'>
                                        <label for="cboMedidaItem" class="control-label col-sm-2 left-align">Medida</label>
                                        <div class="col-sm-4">
                                            <select id="cboMedidaItem" class="form-control input-sm" tabindex="2" style="height:26px" disabled></select>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="txtDescripcionItem" class="control-label col-sm-2 left-align">Descripcion</label>
                                        <div class="col-sm-10">
                                            <textarea id="txtDescripcionItem" type="text" class="form-control input-sm" tabindex="3" style="height:50px"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label for="txtCantidadItem" class="control-label col-sm-2 left-align">Cantidad</label>
                                        <div class="col-sm-4">
                                            <input id="txtCantidadItem" max="5" type="number" class="form-control input-sm" tabindex="6" onkeyup="ValidarDecimalesCantidades('txtCantidadItem')">
                                        </div>
                                    </div>
                                      <div class='form-group-sm'>
                                        <label id="lblStockItem" for="txtStockAlmacenItem" class="control-label col-sm-2 left-align">Stock en Almacen</label>
                                        <div class="col-sm-4">
                                            <input id="txtStockAlmacenItem" type="text" class="form-control input-sm" tabindex="5" disabled>
                                        </div>
                                    </div>

                                    <div class='form-group-sm d-none' style="display:none">
                                        <label for="txtPrecioUnitarioItem" class="control-label col-sm-2 left-align">Precio Unitario</label>
                                        <div class="col-sm-4">
                                            <input id="txtPrecioUnitarioItem" type="text" class="form-control input-sm" value="1" tabindex="4" disabled>
                                        </div>
                                    </div>



                                </div>
                                <div class="row">

                                    <div class='form-group-sm'>
                                        <label class="control-label col-sm-2 left-align"></label>
                                        <div class="col-sm-4">
                                          
                                        </div>
                                    </div>
                                    <div class='form-group-sm' id="divStockObraPedido">
                                        <label id="lblStockObraPedido" for="txtStockObraPedido" class="control-label col-sm-2 left-align">Cantidad pendiente de Entrega</label>
                                        <div class="col-sm-4">
                                            <input id="txtStockObraPedido" type="text" class="form-control input-sm" tabindex="5" disabled>
                                        </div>
                                    </div>

                                </div>
                          


                                <div class="row" style="display:none">

                                    <div class='form-group-sm'>
                                        <label for="cboProyectoItem" class="control-label col-sm-2 left-align">Proyecto</label>
                                        <div class="col-sm-3">
                                            <select id="cboProyectoItem" class="form-control input-sm" tabindex="7" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" id="btnBuscarListadoProyecto" classs="btn-primary" onclick="BuscarListadoProyecto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div class='form-group-sm'>
                                        <label for="cboCentroCostoItem" class="control-label col-sm-2 left-align">Centro de Costo</label>
                                        <div class="col-sm-3">
                                            <select id="cboCentroCostoItem" class="form-control input-sm" tabindex="8" style="height:26px" disabled></select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" classs="btn-primary" onclick="BuscarListadoCentroCosto()" style="height:26px"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>


                                </div>
                                 <div class="row">
                                    <div class='form-group-sm' id="divTipoServicio">
                                        <label class="control-label col-sm-2 left-align">Tipo de Servicio:</label>
                                         <div class="col-xs-3">
                                                <input type="radio" id="SNinguno" name="TipoServicio" checked/>
                                                 <label style="font-size:1.5rem" for="PrecioXGeneral">Ninguno</label>              
                                         </div>
                                        <div class="col-xs-3">
                                            <input type="radio" id="SPreventivo" name="TipoServicio"/>
                                            <label style="font-size:1.5rem" for="PrecioXObra">Preventivo</label>
                                        </div>
                                         <div class="col-xs-3"> 
                                              <input type="radio" id="SCorrectivo" name="TipoServicio"/>
                                              <label style="font-size:1.5rem" for="PrecioXObra">Correctivo</label>
                                         </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='form-group-sm'>
                                        <label for="txtReferenciaItem" class="control-label col-sm-2 left-align">Referencia</label>
                                        <div class="col-sm-12">
                                            @*<input id="txtComentarios" type="date" class="form-control input-sm" tabindex="14">*@
                                            <textarea class="form-control" id="txtReferenciaItem" name="txtReferenciaItem" rows="3" cols="15" tabindex="9"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="margin-top:10px"><b>Stock en Otros Almacenes</b></div>
                                    <div class="table-responsive">
                                    <table class="table" id="tablaStockOtrosAlmacenes">
                                        <thead>
                                            <tr>                                   
                                                <th>Obra</th>
                                                <th>Almacen</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_stockOtrosAlmacenes"></tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right plu" onclick="AgregarLinea()">+ Agregar Item</button>
                    <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="LimpiarModalItem()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal Listado Productos-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Items</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid' style="overflow-y: scroll;height: 300px;">
                                <div style="display:none">
                                    <label for="checkstock">Con Stock</label>
                                    <input id="checkstock" type="checkbox" />
                                </div>
                                <br />
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_items">
                                    <thead id="headitems">
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th id="cabecerastock">Stock</th>
                                            <th id="cabeceraunidad">Uni. Medida</th>
                                            @*<th>Imagen</th>*@

                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_items"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarItemListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoItems()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal Listado Proyecto-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Proyectos</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_proyecto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_proyecto"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarProyectoListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoProyecto()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Listado CentroCosto-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoCentroCosto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Centro de Costos</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_centroCosto" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_centroCosto"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarCentroCostoListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoCentroCosto()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Listado Almacen-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalListadoAlmacen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Listado Almacen</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>
                                @*<div class="table-responsive">*@
                                <table class="table" id="tabla_listado_almacen" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_listado_almacen"></tbody>
                                </table>
                                @*</div>*@
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right plu" onclick="SeleccionarAlmacenListado()" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalListadoAlmacen()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Historiañl-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalHistorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Historial SAP</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>


                                <div class="table-responsive">
                                    <table class="table" id="tabla_historial">
                                        <thead>
                                            <tr>
                                                <th>Documento</th>
                                                <th>DocNum</th>
                                                <th>Estado</th>
                                                <th>Item</th>
                                                <th>Descripcion</th>
                                                <th>Cantidad</th>
                                                <th>Cantidad Pendiente</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalHistorial()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal EStados-->
    <div class="modal fade" data-backdrop="static"
         data-keyboard="false" id="ModalHistorialEstados" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered allcp-form" style="margin-top:120px" role="document">
            <div class="modal-content">


                <div class="panel" style="margin-bottom:0px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="lblTituloModalItem">Historial Estados</h5>
                    </div>
                    <div class="panel-body ">
                        <div class='col s12 m12 '>
                            <div class='container-fluid'>


                                <div class="" id="div_modelos_aprobaciones">
                                    <table class="table" id="tabla_modal_estado">
                                        <thead>
                                            <tr>
                                                <th>Nomb. Producto</th>
                                                <th>Num Aprobacion</th>
                                                <th>Estados</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" style="background-color:orange;" data-dismiss="modal" onclick="CerrarModalHistorial()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

@{
    Random rnd = new Random();
}


<script src="~/Scripts/SolicitudRQ/Listado.js?v=@rnd.Next(1, 1000 + 1)"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/js/pdf/jspdf.min.js"></script>
<script src="~/js/pdf/faker.min.js"></script>
<script src="~/js/pdf/jspdf.plugin.autotable.src.js"></script>